.last-articles-slide {
  width: 18rem;
  height: 24rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.last-articles-slide__top {
  height: 50%;
}

.last-articles-slide__top-image {
  width: 100%;
  border-radius: 1rem;
}

.last-articles-slide__bottom {
  margin-top: 2rem;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.last-articles-slide__bottom-title {
  font-family: "dana-bold", Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.last-articles-slide__bottom-text {
  margin-top: 1rem;
  line-height: 1.4rem;
}

.last-articles-slide__bottom__link {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  transition: all 120ms ease-in;
  margin-top: auto;
}

.last-articles-slide__bottom__link:hover {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  /* transform: translateY(-10px); */
}

.last-articles-slide__bottom__link-icon {
}
