.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  border-radius: 1rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.navbar__logo-icon {
  width: 2rem;
  height: 2rem;
}

.navbar__logo-text {
  font-size: 2.4rem;
  font-family: "dana-bold", Courier, monospace;
}

.navbar__logo-health-icon {
  display: block;
  position: absolute;
  top: -1rem;
  left: 0;
  width: 2.2rem;
  height: 2.2rem;
  color: var(--primaryColor);
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
}

.navbar__list__link,
.navbar__submenu__link {
  color: var(--primaryColor);
  font-size: 1.2rem;
  padding: 0.4rem;
  transition: all 120ms ease-in;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 0.5rem;
  font-family: "dana-bold", Courier, monospace;
}
.navbar__list__link:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.navbar__list__link-icon {
  width: 2rem;
  height: 2rem;
  transition: all 120ms ease-in;
}

.navbar-logo_custom {
  width: 4rem;
  height: 4rem;
}

/* ! SubMenu */
.navbar__list__item-submenu {
  position: relative;
}
.navbar__list__item-submenu:hover .navbar__submenu {
  opacity: 100;
  visibility: visible;
  transition: all 120ms ease-in;
}
.navbar__list__item-submenu:hover .navbar__list__link-icon {
  transform: rotate(180deg);
}

.navbar__submenu {
  width: 14rem;
  height: 10rem;
  position: absolute;
  padding: 1rem;
  top: 2.8rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.navbar__submenu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__submenu__link:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.navbar__submenu__link-icon {
  width: 2rem;
  height: 2rem;
}

/* ! Mobile Menu  */

.mobile-menu-btn,
.mobile-menu-close-btn {
  width: 3.4rem;
  height: 3.4rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--primaryColor);
  cursor: pointer;
  display: none;
}

.mobile-menu-btn__icon {
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}

.mobile-menu {
  /* display: none; */
  transition: all 140ms ease-in;
  right: -100rem;
  /* visibility: hidden; */

  /* opacity: 0; */
  position: fixed;
  top: 0;
  background-color: var(--primaryColor);
  height: 100vh;
  width: 14rem;
  padding: 1rem;
  box-shadow: var(--primaryColor) -5px 5px, var(--primaryColor) -10px 10px,
    var(--primaryColor) -15px 15px, var(--primaryColor) -20px 20px,
    rgba(240, 46, 170, 0.05) -25px 25px;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryColor);

  gap: 1rem;
}

.mobile-menu__list-item {
  border-radius: 1rem;
}

.mobile-menu__list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--darkColor);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: all 140ms ease-in;
}

.mobile-menu__list-link:hover {
  transform: scale(1.02);
}

.mobile-menu__list-link__icon {
  width: 1.4rem;
  height: 1.4rem;
}

.mobile-menu-close-btn {
  display: block;
  margin-bottom: 1rem;
}

.mobile-menu-close-btn__icon {
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}
