.bmi {
}

.bmi__title {
  text-align: center;

  margin-top: 4rem;
  font-size: 4rem;
  font-family: "dana-bold", Courier, monospace;
  font-weight: bold;
  color: var(--primaryColor);
}

.bmi__info {
  margin-top: 1rem;
}

.bmi__info-title {
  font-size: 1.6rem;
  font-family: "dana-bold", Courier, monospace;
  font-weight: bold;
}

.bmi__info-text {
  margin-top: 1rem;
  line-height: 1.4rem;
  text-align: justify;
  font-size: 1.2rem;
}

.bmr__images{
  display: flex;
  align-items: center;
}

.bmr__images-formula-img {
  display: block;
  margin: 1rem auto;
  width: 26rem;
  height: 19rem;
  border-radius: 1rem;
  /* box-shadow: var(--primaryColor) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.bmi__logic {
  margin-top: 1rem;
}

.bmr__images-img {
  display: block;
  margin: 1rem auto;
  border-radius: 1rem;
  /* box-shadow: var(--primaryColor) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.bmi__logic__inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.bmi__logic__inputs__height,
.bmi__logic__inputs__weight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.bmi__logic__inputs__weight {
  margin-top: 2rem;
}
.bmi__logic__inputs__height-label,
.bmi__logic__inputs__weight-label {
  font-size: 2.8rem;
  color: var(--primaryColor);
  font-family: "dana-bold", Courier, monospace;
  font-weight: bold;
}

.bmi__logic__inputs-btn {
  margin-top: 1rem;
}

.bmi__logic__inputs__height-input,
.bmi__logic__inputs__weight-input {
  padding: 0.5rem;
  height: 4rem;
  width: 26rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  outline: none;
  font-size: 2rem;
  color: var(--primaryColor);
  font-weight: bold;
}
.bmi__logic__inputs__height-input:focus {
  box-shadow: var(--primaryColor) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.bmi__logic__inputs-btn{
    padding: 1rem;
    border-radius: 0.5rem;
    width: 14rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    cursor: pointer;
    transition: all 120ms ease-in;
}
.bmi__logic__inputs-btn:hover{
    transform: scale(1.04);
}

.bmi__logic-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.bmi__logic-result-text{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bmi__logic-result-number{
    font-size: 2.8rem;
    color: var(--primaryColor);
}

.bmi__logic-result-notif{
    margin-top: 1rem;
}