/* ^ ======== CSS Reset ======= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ^ ======== Font Faces ======= */
@font-face {
  font-family: "dana-bold";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
}
@font-face {
  font-family: "dana-medium";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}
@font-face {
  font-family: "dana-regular";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
}

/* ^ ======== Color Variables ======= */

:root {
  /* * ====Primary Colors==== */
  --primaryColor: #3a8ef6;

  /* * ====Dark Colors==== */
  --darkColor: #000000;

  /* * ====White Colors==== */
  --whiteColor: #ffffff;

  /* * ====Gray Color==== */
  --gray: #f5f5f5;
  --lightNavyBlue: #2f5c9f;
  --GoldColor: gold;
  --redColor: #d91656;
}

.gradien-1 {
  background: rgb(58, 142, 246);
  background: linear-gradient(
    90deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
}
.gradien-2 {
  background: #3a8ef6;
  background: linear-gradient(to right, #3a8ef6 0%, #6f3afa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 0.1px #3a8ef6; /* سایه خیلی کوچک و شفاف */
}

/* * ========= Default Styles ========= */
body {
  direction: rtl;
}

body,
html {
  font-family: "dana-medium", Courier, monospace;
  background-color: #f3f3fd;
}
* {
  font-family: "dana-medium", Courier, monospace;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  /* background-color: red; */
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* !Custom ScrollBar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--lightNavyBlue);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

/* !=======Responsive Media Queries======= */

@media (max-width: 1400px) {
  /* * HealthUp Component */
  .health-up {
    flex-direction: column;
  }
  .health-up__left-title {
    text-align: center;
    flex-direction: column-reverse;
  }
  .health-up__left {
    width: 100%;
    margin: 2rem auto;
  }
  .health-up__left-text {
    text-align: center;
  }
  .health-up__right {
    width: 80%;
  }
  /* * Articles Component */
  .articles-box {
    width: 80%;
    margin: 1rem auto;
  }
}

@media (max-width: 1200px) {
  /* * Navbar Component */
  .navbar__list {
    display: none;
  }
  .navbar__logo {
    margin: 0 auto;
  }
  .mobile-menu-btn {
    display: block;
    margin-right: 1rem;
  }
  /* * Landing Component */
  .landing__right {
    margin-right: 1rem;
  }
  .landing__right-title {
    font-size: 4rem;
  }
  /* * mainFeature Component */
  .main-feature__right,
  .main-feature__left {
    width: 80%;
  }
  .main-feature {
    flex-direction: column !important;
  }
  .main-feature__left-text,
  .main-feature__left-title {
    text-align: center;
  }
  .main-feature__left-btn {
    margin: 2rem auto;
  }
  /* * BMI Component */
  .bmi__info-text {
    width: 88%;
    margin: 1rem auto;
  }
  .bmi__logic-img {
    width: 100%;
  }
  .bmi__info-formula-img {
    width: 50%;
    object-fit: contain;
  }
  .bmr__images {
    flex-direction: column;
  }
  /* * BMR Component */
  .bmr__info-text {
    width: 88%;
  }
  .bmr__info-title {
    margin-right: 1rem;
  }
  /* * Water Component */
  .water-calculator__info-text {
    width: 94%;
    margin: 1rem auto;
  }
  .water-calculator__info-subtitle {
    margin-right: 1rem;
    margin-top: 2rem;
  }
  .water-calculator__info-title {
    font-size: 3.4rem;
  }
  .water-calculator__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  /* * Landing Component */
  .landing {
    flex-direction: column-reverse;
  }
  .landing__right {
    text-align: center;
  }
  .landing__right-badge {
    margin: 1rem auto;
  }
  /* * Footer Component */
  .footer {
    flex-wrap: wrap;
  }
  .footer__row4 {
    text-align: center;
    margin-top: 1rem;
  }
  .footer__row4-list__item {
    margin: 0 auto;
  }
  /* * Articles Component */
  .articles-wrapper__menu {
    flex-wrap: wrap;
  }
  /* * Article Info Component */
  .article-info__top__texts-title {
    font-size: 2rem;
  }
  .article-info__bottom-text {
    padding: 1rem;
  }
  .article-info__share {
    width: 88%;
    margin: 2rem auto;
  }
  /* * Contact Us Component */
  .contact-us__info {
    flex-direction: column;
  }
  .contact-us__info__left {
    margin-top: 2rem;
    width: 80%;
  }
  .contact-us__info__right {
    width: 100%;
  }
  .contact-us__info__right-image {
    display: block;
    width: auto;
    margin: 1rem auto;
  }
  /* * About Us Component */
  .about-us__info {
    flex-direction: column-reverse;
  }
  .about-us__image {
    width: 80%;
  }
  .about-us__info__texts {
    width: 80%;
    text-align: center;
  }
  /* * BMI Component */
  .bmr__images-img,
  .bmr__images-formula-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  /* * Landing Component */
  .landing__right-title {
    font-size: 3.2rem;
  }
  .landing__right-text {
    width: 30rem;
    margin: 0.5rem auto;
    text-align: center;
  }
  /* * HealthUp Component */
  .health-up__left-title {
    font-size: 3.4rem;
  }
  /* * Articles Component */
  .articles-box {
    flex-direction: column;
  }
  .articles-box__left {
    text-align: center;
  }
  .articles-box__left__text-link {
    margin: 2rem auto;
    display: block;
  }
  .articles-wrapper__title {
    font-size: 3.2rem;
  }
  /* * Article Info Component */
  .article-info__top__texts-title {
    font-size: 1.4rem;
  }
  .article-info__top__texts {
    background: none;
  }
  .article-info__share {
    flex-direction: column;
  }
  .article-info__share__left {
    margin-top: 1rem;
    text-align: center;
  }
  .article-info__share__right {
    margin-bottom: 1rem;
  }
  .article-info__share__left-icon {
    display: none;
  }
  .article-info__share {
    height: 6rem;
  }
  /* * BMR Component */
  .bmr__info__list {
    text-align: center;
  }
  .bmr-title {
    font-size: 2rem;
  }
  /* * Water Component */
  .water-calculator__info-title {
    font-size: 2.4rem;
  }
  .water-calculator__info-subtitle {
    font-size: 1.2rem;
  }
  .water-calculator__info-text {
    font-size: 1rem;
  }
  .water-calculator__info-image {
    width: 94%;
    height: 94%;
  }
}

@media (max-width: 576px) {
  /* * Landing Component */
  .landing__left-image {
    width: 25rem;
    height: 25rem;
  }
  .landing__right-text {
    width: 25rem;
  }
  .landing__right-title {
    font-size: 2.4rem;
  }
  /* * HealthUp Component */
  .health-up__left-title {
    font-size: 2.8rem;
  }
  /* * Footer Component */
  .footer div {
    width: 80%;
    text-align: center;
    margin-top: 1rem;
  }
  .footer__row1-text {
    justify-content: center;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .footer__row4-list__item {
    line-height: 2rem;
  }
  .footer__row1-text {
    flex-direction: column-reverse;
  }
  /* * Articles Component */
  .articles-wrapper__menu div {
    margin-bottom: 1.2rem;
  }
  .articles-boxes.list-view .articles-box__right img {
    width: inherit;
    height: 10rem;
  }
  /* * BMR Component */
  .bmr__inputs input {
    width: 18rem;
  }
  .bmr__inputs select {
    width: 18rem;
  }
  .bmr__inputs-select {
    font-size: 1rem !important;
  }
  .bmr__info__item {
    font-size: 1rem;
  }
  .bmr__info-text-formul {
    font-size: 1rem;
  }
  /* * Water Component */
  .water-calculator__info-title {
    font-size: 1.6rem;
  }
  .water-calculator__form-label input {
    width: 20rem;
  }
  .water-calculator__form-label select {
    width: 20rem;
  }
  .water-calculator__form-label {
    font-size: 2rem;
  }
  /* * Contact Us Component */
  .contact-us__info__right-image {
    width: 100%;
    height: 100%;
  }
  .contact-us__info__left__maninfo__place-title {
    font-size: 2rem;
  }
  .contact-us__info__left__maninfo__place-text {
    font-size: 1rem;
  }
  .contact-us__info__left__socials-github-icon,
  .contact-us__info__left__socials-telegram-icon,
  .contact-us__info__left__socials-instagram-icon,
  .contact-us__info__left__socials-gmail-icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  .contact-us__info__left__maninfo__place-text {
    line-height: 1.4rem;
  }
  /* * About Us Component */
  .about-us__info__texts-title {
    font-size: 2rem;
  }
  .about-us__info__texts-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  /* * Landing Component */
  .landing__right-title {
    font-size: 2rem;
  }
  .landing__right-text {
    font-size: 1.2rem;
    width: 18rem;
  }
  .landing__right-text-word {
    font-size: 1.2rem;
  }
  .landing__left-image {
    width: 16rem;
    height: 16rem;
  }
  /* * mainFeature Component */
  .main-feature__left-title {
    font-size: 1.4rem;
  }
  .main-feature__left-text {
    font-size: 1rem;
  }
  .main-feature__left-btn {
    font-size: 1rem;
  }
  /* * HealthUp Component */
  .health-up__left-title {
    font-size: 2rem;
  }
  .health-up__left-text {
    font-size: 1rem;
    width: 16rem;
    margin: 1rem auto;
    line-height: 1.4rem;
    text-align: center;
  }
  /* * Articles Component */
  .articles-box__left-title {
    font-size: 1.2rem;
  }
  .articles-wrapper__menu div {
    flex-direction: column;
    gap: 1rem;
  }
  .articles__btn {
    font-size: 1.2rem;
  }
  .articles-wrapper__menu {
    flex-direction: column;
    gap: 1rem;
  }
  /* * Article Info Component */
  .article-info__top__texts-title {
    font-size: 1.2rem;
  }
  .articles__add-comment__form__name-input::placeholder,
  .articles__add-comment__form__email-input::placeholder {
    font-size: 0.8rem;
  }
  /* * BMI Component */
  .bmi__logic__inputs__height-input,
  .bmi__logic__inputs__weight-input {
    width: 18rem;
    font-size: 1.4rem;
  }
  .bmi__logic__inputs__weight-label,
  .bmi__logic__inputs__height-label {
    font-size: 2rem;
  }
  .bmi__title {
    font-size: 2.4rem;
  }
  .bmi__info-title {
    text-align: center;
  }
  /* * Water Component */
  .water-calculator__form-label input {
    width: 16rem;
    font-size: 1.2rem;
  }
  .water-calculator__form-label select {
    width: 16rem;
  }
  .water-calculator__form-label {
    font-size: 1.6rem;
  }
  .water-calculator__result {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .water-calculator__form-input::placeholder {
    font-size: 1rem;
  }
  .water-calculator__info-subtitle {
    text-align: center;
  }

  /* * Article Info Component */

  .articles__add-comment__form__name-input,
  .articles__add-comment__form__email-input {
    width: 14rem;
  }
  .articles__comments__title {
    font-size: 2rem;
  }
  /* * Footer Component */
  .after-footer__text {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  /* * BMR Component */
  .bmi__logic__inputs__height-input,
  .bmi__logic__inputs__weight-input {
    width: 14rem;
  }
  .bmi__logic__inputs__weight-input::placeholder,
  .bmi__logic__inputs__height-input::placeholder {
    font-size: 1rem;
  }
  .bmi__logic-result-text {
    flex-direction: column;
  }
}
