/* ^ ======== CSS Reset ======= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ^ ======== Font Faces ======= */
@font-face {
  font-family: "dana-bold";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
}
@font-face {
  font-family: "dana-medium";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}
@font-face {
  font-family: "dana-regular";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
}

/* ^ ======== Color Variables ======= */

:root {
  /* * ====Primary Colors==== */
  --primaryColor: #3a8ef6;

  /* * ====Dark Colors==== */
  --darkColor: #000000;

  /* * ====White Colors==== */
  --whiteColor: #ffffff;

  /* * ====Gray Color==== */
  --gray: #f5f5f5;
  --lightNavyBlue: #2f5c9f;
  --GoldColor: gold;
  --redColor: #d91656;
}

.gradien-1 {
  background: rgb(58, 142, 246);
  background: linear-gradient(
    90deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
}
.gradien-2 {
  background: #3a8ef6;
  background: linear-gradient(to right, #3a8ef6 0%, #6f3afa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 0.1px #3a8ef6; /* سایه خیلی کوچک و شفاف */
}

/* * ========= Default Styles ========= */
body {
  direction: rtl;
}
*,
body,
html {
  font-family: "dana-medium", Courier, monospace;
  background-color: #f3f3fd;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  /* background-color: red; */
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* !=======Responsive Media Queries======= */

@media (max-width: 1400px) {
  /* * HealthUp Component */
  .health-up {
    flex-direction: column;
  }
  .health-up__left-title {
    text-align: center;
    flex-direction: column-reverse;
  }
  .health-up__left {
    width: 100%;
    margin: 2rem auto;
  }
  .health-up__left-text {
    text-align: center;
  }
  .health-up__right {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  /* * Articles Component */
  .articles-box {
    width: 80%;
    margin: 1rem auto;
  }
}

@media (max-width: 1200px) {
  /* * Navbar Component */
  .navbar__list {
    display: none;
  }
  .navbar__logo {
    margin: 0 auto;
  }
  .mobile-menu-btn {
    display: block;
    margin-right: 1rem;
  }
  /* * Landing Component */
  .landing__right {
    margin-right: 1rem;
  }
  .landing__right-title {
    font-size: 4rem;
  }
  /* * mainFeature Component */
  .main-feature__right,
  .main-feature__left {
    width: 80%;
  }
  .main-feature {
    flex-direction: column !important;
  }
  .main-feature__left-text,
  .main-feature__left-title {
    text-align: center;
  }
  .main-feature__left-btn {
    margin: 2rem auto;
  }
}

@media (max-width: 992px) {
  /* * Landing Component */
  .landing {
    flex-direction: column-reverse;
  }
  .landing__right {
    text-align: center;
  }
  .landing__right-badge {
    margin: 1rem auto;
  }
  /* * Footer Component */
  .footer {
    flex-wrap: wrap;
  }
  .footer__row4 {
    text-align: center;
    margin-top: 1rem;
  }
  .footer__row4-list__item {
    margin: 0 auto;
  }
  /* * Articles Component */
  .articles-wrapper__menu {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  /* * Landing Component */
  .landing__right-title {
    font-size: 3.2rem;
  }
  .landing__right-text {
    width: 30rem;
    margin: 0.5rem auto;
    text-align: center;
  }
  /* * HealthUp Component */
  .health-up__left-title {
    font-size: 3.4rem;
  }
  /* * Articles Component */
  .articles-box {
    flex-direction: column;
  }
  .articles-box__left {
    text-align: center;
  }
  .articles-box__left__text-link {
    margin: 2rem auto;
    display: block;
  }
  .articles-wrapper__title{
    font-size: 3.2rem;
  }
}

@media (max-width: 576px) {
  /* * Landing Component */
  .landing__left-image {
    width: 25rem;
    height: 25rem;
  }
  .landing__right-text {
    width: 25rem;
  }
  .landing__right-title {
    font-size: 2.4rem;
  }
  /* * HealthUp Component */
  .health-up__left-title {
    font-size: 2.8rem;
  }
  /* * Footer Component */
  .footer div {
    width: 80%;
    text-align: center;
    margin-top: 1rem;
  }
  .footer__row1-text {
    justify-content: center;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .footer__row4-list__item {
    line-height: 2rem;
  }
  .footer__row1-text {
    flex-direction: column-reverse;
  }
  /* * Articles Component */
  .articles-wrapper__menu div {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 480px) {
  /* * Landing Component */
  .landing__right-title {
    font-size: 2rem;
  }
  .landing__right-text {
    font-size: 1.2rem;
    width: 18rem;
  }
  .landing__right-text-word {
    font-size: 1.2rem;
  }
  .landing__left-image {
    width: 16rem;
    height: 16rem;
  }
  /* * mainFeature Component */
  .main-feature__left-title {
    font-size: 1.4rem;
  }
  .main-feature__left-text {
    font-size: 1rem;
  }
  .main-feature__left-btn {
    font-size: 1rem;
  }
  /* * HealthUp Component */
  .health-up__left-title {
    font-size: 2rem;
  }
  .health-up__left-text {
    font-size: 1rem;
  }
  /* * Articles Component */
  .articles-box__left-title {
    font-size: 1.2rem;
  }
  .articles-wrapper__menu div {
    flex-direction: column;
  }
  .articles__btn{
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
}
